####################################################
# LLM API Key
####################################################
OPENAI_API_KEY=
GROQ_API_KEY=

####################################################
# Tools API key
####################################################

####################################################
# Langsmith API key
####################################################
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Chatbot2"

####################################################
# TAVILY API key
####################################################
TAVILY_API_KEY=""